<% provide(:title, "Services") %>
<div class = "container">
<br/>
<h1 class = "services"> Our Services </h1><br/>
<h2 class = "services-tag"> Are you looking or searching for one of these </h2><br/><br>
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>sell my car </h3>
    <p> looking to sell your car and do not know where and how? we are here to help you</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %></br>
  </div><br/>

  <div class="col-12 col-sm">
    <h3>cash for cars</h3>
    <p>if your ready and decided to give your car and get paid cash, we can help you! we ensure you get good money for your car!</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %><br/>
  </div><br/>

  <div class="col-12 col-sm">
    <h3>how to sell car?</h3>
    <p>planned to sell it, we can guide you the rest of the path.</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %><br/>
  </div><br/>
</div><br/><br/>
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>sell my car </h3>
    <p> looking to sell your car and do not know where and how? we are here to help you</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %></br>
  </div><br/>

  <div class="col-12 col-sm">
    <h3>cash for cars</h3>
    <p>if your ready and decided to give your car and get paid cash, we can help you! we ensure you get good money for your car!</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %><br/>
  </div><br/>

  <div class="col-12 col-sm">
    <h3>how to sell car?</h3>
    <p>planned to sell it, we can guide you the rest of the path.</p>
    <span> Call: 209-221-1846</span> <span> or get a quote right now!</span><br/>
    <br/><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %><br/>
  </div><br/>
</div>
</div>