<br />
<div class="container">
<footer class="footer">
  <small>
    <a href="#">Cars&Parts4cash</a>
    copyright<p>&copy;2019</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li><%= link_to "Inventory", inventory_path %></li>
      <li><%= link_to "FAQs", faqs_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
</div>
