<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Cash For Your Car!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/navbar' %>
      
        <% if notice.present? %>
          <p class="alert-alert-infor"><%= notice %>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %>
        <% end %>
      
    <%= yield %>
    <%= render 'layouts/footer' %>
    
  </body>
</html>
